Schnittstelle_OSST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:idl="http://deutschebahn.com/osst/v1_0/"
		targetNamespace="http://deutschebahn.com/osst/v1_0/"
		elementFormDefault="qualified">

<element name="AngebotsAntwort" type="idl:AngebotsAntwort"/>
<element name="FehlerInfo" type="idl:FehlerInfo"/>
<element name="AngebotsAnfrage" type="idl:AngebotsAnfrage"/>

<!-- classes -->
<complexType name="EARootClass">
	<all>
	</all>
</complexType>
<complexType name="FahrscheinTexte">
	<annotation>
		<documentation>Hierüber können verschiedene Text für verschiedene Zwecke (typ) übertragen werden.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="typ"
		type="int"
		use="required">
		<annotation>
			<documentation>Legt fest, welchen fachlichen Inhalt der Text transportiert.
Damit wird letztlich auch die Position auf dem Fahrschein festgelegt.</documentation>
		</annotation>
	</attribute>
	<attribute name="text"
		type="string"
		use="required">
		<annotation>
			<documentation>Der zu verwendende Text in der in der Antwort festgelegten Sprache.</documentation>
		</annotation>
	</attribute>
	<attribute name="textId"
		type="int"
		use="required">
		<annotation>
			<documentation>Ein Identifikator, der den Text maschinenlesbar beschreibt.
Jeder Text muss einen eigenen Identifikator haben.
In den Vetriebssystemen kann darüber eine eigene Übersetzung angefertigt werden.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="AngebotsAntwort">
	<annotation>
		<documentation>Dieses Element enthält alle Angaben zu einer Angebots-Antwort.
Dazu gehören die gefundenen Verbindungen sowie die daraus gebildeten Hin-Rück-Kombinationen, denen wiederum die Angebote zugeordnet sind.</documentation>
	</annotation>
	<sequence>
		<element name="fehlerInfo"
				type="idl:FehlerInfo"
				minOccurs="0"
				maxOccurs="1">
		</element>
		<element name="verbindungen"
				type="idl:Verbindung"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
		<element name="hrKombis"
				type="idl:HinRueckKombi"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="msgVersion"
		type="string"
		use="required">
		<annotation>
			<documentation>Beschreibt die Version der Antwort und damit die enthaltenen Elemente und Attribute.</documentation>
		</annotation>
	</attribute>
	<attribute name="serverVersion"
		type="string"
		use="required">
		<annotation>
			<documentation>Beschreibt die Version des Servers.
Die Server-Version muss bei Rückfragen und Fehlermeldungen angegeben werden.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="MwStDaten">
	<annotation>
		<documentation>Hierüber werden die Mehrwertsteuer-Informationen des Fahrscheins übertragen. Pro MwSt-Satz wird ein Element übertragen.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="mwStCode"
		type="idl:KzMwSt"
		use="required">
		<annotation>
			<documentation>Legt den hier zugrundeliegenden MwSt-Satz als Typ fest.</documentation>
		</annotation>
	</attribute>
	<attribute name="mwStSatz"
		type="int"
		use="required">
		<annotation>
			<documentation>Mehrwertsteuersatz dieses Anteils</documentation>
		</annotation>
	</attribute>
	<attribute name="preisBrutto"
		type="idl:Preis"
		use="required">
		<annotation>
			<documentation>der zum angegebenen MwSt-Satz zu versteuernde Anteil des Brutto-Gesamtpreises</documentation>
		</annotation>
	</attribute>
	<attribute name="mwStBetrag"
		type="idl:Preis"
		use="required">
		<annotation>
			<documentation>Der aus dem preisBrutto berechnete MwSteuer-Betrag</documentation>
		</annotation>
	</attribute>
	<attribute name="kzMwStDrucken"
		type="boolean"
		use="required">
		<annotation>
			<documentation>Kennzeichen für Druck auf den Fahrschein
* true - MwSt muß gedruckt werden (default)
* false - MwSt muss nicht gedruckt werden</documentation>
		</annotation>
	</attribute>
	<attribute name="mwStLiteral"
		type="string"
		use="required">
		<annotation>
			<documentation>Druckliteral für die Mehrwertsteuer, z. B. MwSt(D)</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Verkehrsmittel">
	<annotation>
		<documentation>Ein Verkehrsmittel transportiert den Reisenden zwischen zwei Umstiegen.</documentation>
	</annotation>
	<sequence>
		<element name="halte"
				type="idl:Halt"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="attribute"
				type="idl:VerkehrsmittelAttribut"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="zugGattung"
		type="string"
		use="required">
		<annotation>
			<documentation>Die externe Zuggattung des Zuges.
Z.B. RE, RB oder S.</documentation>
		</annotation>
	</attribute>
	<attribute name="zugNummer"
		type="string"
		use="required">
		<annotation>
			<documentation>Die Zugnummer des Zuges.</documentation>
		</annotation>
	</attribute>
	<attribute name="ankunftKeinUmstieg"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>Es gibt Verkehrsmittel, die auf ihrem Weg die Identität wechseln, also z.B. vom RE zum IC umdeklariert werden.
Nutzt ein Reisender so ein Verkehrsmittel über diesen Punkit hinweg, so werden dafür in dieser Schnittstelle zwei Elemente Verkehrsmittel übertragen. Da es sich aber physisch um denselben Wagen handelt, besteht für den Reisenden kein Grund, umzusteigen. Dieser Sachverhalt wird durch dieses Kennzeichen angezeigt.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Geltungsdauer">
	<annotation>
		<documentation>Gibt die Geltungsdauer des Angebotes für die jeweilige Fahrtrichtung an.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="gueltigAb"
		type="dateTime"
		use="required">
		<annotation>
			<documentation>Datum und Uhrzeit des ersten Gültigkeitstages.
Die Uhrzeit ist üblicherweise 0:00. Nur in Ausnahmefällen kann eine abweichende Uhrzeit vorkommen.</documentation>
		</annotation>
	</attribute>
	<attribute name="gueltigBis"
		type="dateTime"
		use="required">
		<annotation>
			<documentation>Datum und Uhrzeit des Endes der Gültigkeit
Die Uhrzeit ist üblicherweise 0:00. Nur in Ausnahmefällen kann eine abweichende Uhrzeit vorkommen.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="AnfrageZughalt">
	<annotation>
		<documentation>AnfrageZughalte beschreiben die Eckpunkte der gewünschten Verbindung. Sie werden in der angegebenen Reihenfolge durchfahren. Der erste Halt kennzeichnet den Abfahrtsbahnhof und der letzte Halt den Zielbahnhof.
Dazwischen können bis zu zwei Bahnhöfe angegeben werden, über die die Verbindung geführt werden soll.
Es ist zu beachten, dass Stichstrecken und Rundfahrten unzulässig sind und dafür keine Angebote erstellt werden.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="bahnhof"
		type="idl:EbhfNr"
		use="required">
		<annotation>
			<documentation>Ebhf-Nummer des Bahnhofs.
Die Tabelle mit den jeweils gültigen Bahnhöfen wird über das DB-Datenmanagement verteilt.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Reisender">
	<annotation>
		<documentation>Anzahl und Eigenschaften der Reisenden.
In der Anfrage muss mindestens ein Reisender angegeben werden.
Mehrere Reisende mit denselben Parametern können in einem Element übertragen werden.
In der Antwort werden hier die für das Angebot verwendeten Reisenden übertragen. Während der Angebotserstellung kann es zu Änderungen kommen, weil z.B. ein Kind für einen Tarifgeber schon als Erwachsener zählt. Auch die Ermäßigungen können geändert worden sein. Nur die angewandten Ermäßigungen werden hier zurückgegeben.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="alter"
		type="int"
		use="optional">
		<annotation>
			<documentation>Das Alter des/der Reisenden. Ist in der Anfrage für Kinder verpflichtend.
In der Antwort wird dieses Feld nicht gefüllt.</documentation>
		</annotation>
	</attribute>
	<attribute name="anzahl"
		type="int"
		use="optional">
		<annotation>
			<documentation>Anzahl der Reisenden mit diesen Eigenschaften.
Optional. Default ist 1.</documentation>
		</annotation>
	</attribute>
	<attribute name="ermaessigung"
		type="idl:Ermaessigung"
		use="optional">
		<annotation>
			<documentation>Die Ermäßigung, hier BC25 oder BC50.
Optional.
Wenn eine Ermäßigung nicht angewendet werden kann, weil sie für ein Angebot nicht zugelassen ist, wird sie stillschweigend ignoriert.
Im Angebot wird nur die tatsächlich wirksame Ermäßigung aufgeführt.</documentation>
		</annotation>
	</attribute>
	<attribute name="typ"
		type="idl:ReisendenTyp"
		use="required">
		<annotation>
			<documentation>Der Typ des/der Reisenden.
Für Kinder muss in der Anfrage immer ein Alter angegeben werden.
Im Angebot kann ein anderer Reisendentyp erscheinen. Wenn z.B. ein Kind von 25 Jahren angegeben wurde, wird stillschweigend ein Erwachsener daraus gemacht.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="VerbindungsParameter">
	<annotation>
		<documentation>Das Element VerbindungsParameter enthält die Angaben, die für die Verbindungssuche benötigt werden.
Pro Fahrtrichtung wird ein Element erwartet. Das erste Element wird für die Hinfahrt verwendet und muss immer übertragen werden.
Ist ein zweites Element vorhanden, so wird es für die Rückfahrt verwendet. In diesem Fall wird ein Fahrschein für Hin- und Rückfahrt erstellt.
Für Umstiegszeiten sind mehrere Parameter vorhanden.
Die Umstiegszeit U bei einer konkreten Anfrage berechnet sich aus
U = max (Umstiegszeit, x*Umstiegs-Faktor/100 + Umstiegs-Aufschlag), 
wobei x ein im Fahrplan am Halt hinterlegter Wert ist.</documentation>
	</annotation>
	<sequence>
		<element name="halte"
				type="idl:AnfrageZughalt"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="ausschlussProduktKlassen"
				type="idl:ProduktKlassen"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="ankunft"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>Kennzeichen, das angibt, ob der angegebene Zeitpunkt für die Abfahrt oder die Ankunft steht.
Default ist False - Die Abfahrt soll zum angegebenen Zeitpunkt erfolgen.</documentation>
		</annotation>
	</attribute>
	<attribute name="anzahlFahrraeder"
		type="int"
		use="optional">
		<annotation>
			<documentation>Anzahl der mitzunehmenden Fahrräder.
Optional, Default ist "keine Fahrräder".
Der Parameter wird pro Fahrtrichtung erfasst, um den Reisenden die Möglichkeit zu geben, das Fahrrad nur in einer Richtung mitzuführen.
Die Anzahl ist relevant, da die verfügbaren Fahrradstellplätze variieren können.</documentation>
		</annotation>
	</attribute>
	<attribute name="minUmstiegsZeit"
		type="int"
		use="optional">
		<annotation>
			<documentation>Mindest-Umstigszeit in Minuten.
Optional. Wenn es nicht angegeben ist, wird der Fahrplan-Default verwendet.</documentation>
		</annotation>
	</attribute>
	<attribute name="umstiegsFaktor"
		type="int"
		use="optional">
		<annotation>
			<documentation>Aufschlag in Prozent. Unterstützt werden Werte von 100 (kein Aufschlag) bis 500 (5-fache Dauer). Andere Werte werden ignoriert und als 100 angenommen.
Optional, Default ist 100.</documentation>
		</annotation>
	</attribute>
	<attribute name="umstiegsZuschlag"
		type="int"
		use="optional">
		<annotation>
			<documentation>Absoluter Aufschlag auf die Umsteigezeiten der Fahrplanauskunft.
Optional. Default ist 0 - kein Aufschlag.</documentation>
		</annotation>
	</attribute>
	<attribute name="direktVerbindung"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>Gibt an, ob Umstiege erlaubt sind oder nur eine Direktverbindung gewünscht wird.
Optional. Default ist mit Umstiegen.
Können für Anfragen mit Direktverbindung keine Verbindungen gefunden werden, wird ein genereller Fehler gemeldet.</documentation>
		</annotation>
	</attribute>
	<attribute name="zeitpunkt"
		type="dateTime"
		use="required">
		<annotation>
			<documentation>Zeitpunkt für die gewünschte Abfahrt oder Ankunft, je nach Attribut ankuft.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="HinRueckKombi">
	<annotation>
		<documentation>Da über diese Schnittstelle Angebote sowohl für einfache Fahrten als auch für Hin/Rück-Fahrten erstellt werden können, erfolgt der Einstieg über Hin-Rück-Kombinationen von Verbindungen. Dieses Element verbindet die Verbindungen mit den dazugehörigen Angeboten.
Wurde eine einfache Fahrt angefragt, wird nur die Verbindung der Hinfahrt referenziert.
Wurde eine Hin-Rückfahrt angefragt, so verweist die Hin-Rück-Kombination nacheinander auf eine Hin- und eine Rückfahrt. Die Angebote enthalten Rückfahrkarten.
Konnte zu einer Hin-Rück-Kombination kein Angebot erstellt werden, so wird statt der Angebote eine Fehler-Information übertragen.
Bei Hin-Rück-Fahrten werden alle gefundenen Verbindungen der Hinfahrt mit allen gefundenen Verbindungen der Rückfahrt kombiniert, es sein denn, die Rückfahrt beginnt vor dem Ende der Hinfahrt.
Die übertragenen Hin-Rück-Kombinationen sind jeweils nach den Abfahrtszeiten sortiert. Damit folgen die Kombinationen zu einer Hinfahrt aufeinander.</documentation>
	</annotation>
	<sequence>
		<element name="angebote"
				type="idl:Angebot"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
		<element name="verbindungen"
				type="idl:Verbindung"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="fehlerInfo"
				type="idl:FehlerInfo"
				minOccurs="0"
				maxOccurs="1">
		</element>
	</sequence>
	<attribute name="komfortSortierung"
		type="int"
		use="required">
		<annotation>
			<documentation>Dieses Attribut enthält eine alternative Sortierung entsprechend der Anzahl an Umstiegen. Je weniger Umstiege eine Verbindung hat, umso kleiner ist der hier übertragene Wert.</documentation>
		</annotation>
	</attribute>
	<attribute name="preisSortierung"
		type="int"
		use="required">
		<annotation>
			<documentation>Dieses Attribut enthält eine alternative Sortierung entsprechend dem günstigsten Angebot zu dieser Hin-Rück-Kombination.
Je günstiger das Angebot ist, umso kleiner ist der hier übertragene Wert.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="VerkehrsmittelAttribut">
	<annotation>
		<documentation>Verkehrsmittel-Attribute beschreiben weitere Eigenschaften des Verkehrsmittels.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="code"
		type="string"
		use="required">
		<annotation>
			<documentation>Der Code des Attributes. Das ist ein Kürzel aus 2 Zeichen.</documentation>
		</annotation>
	</attribute>
	<attribute name="flag"
		type="string"
		use="required">
		<annotation>
			<documentation>Das Flag gibt den Geltungsbereich an.
* 0 Dieses Attribut gilt für die Strecke
* 1 Dieses Attribut gilt für den Abfahrtsbahnhof
* 2 Dieses Attribut gilt für den Ankunftsbahnhof
* 3 Dieses Attribut gilt für den Start- und Zielbahnhof</documentation>
		</annotation>
	</attribute>
	<attribute name="prio"
		type="int"
		use="required">
		<annotation>
			<documentation>Über die Priorität kann die Darstellung eingeschränkt werden, wenn z.B. nicht genügend Platz zur Verfügung steht.</documentation>
		</annotation>
	</attribute>
	<attribute name="subprio"
		type="int"
		use="required">
		<annotation>
			<documentation>Die Sub-Priorität definiert eine Feinsteuerung innerhalb von Attributen derselben Priorität.</documentation>
		</annotation>
	</attribute>
	<attribute name="text"
		type="string"
		use="required">
		<annotation>
			<documentation>Der Text des Attributes in deutscher Sprache.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Angebot">
	<annotation>
		<documentation>Das Angebot ist die Kopfstruktur für die detaillierte Beschreibung des Angebotes.
Ist ein Angebot nicht verkaufbar, so enthält es statt der Fahrscheine eine Fehler-Information.
Ein Angebot kann aus mehreren Fahrscheinen bestehen. 
In diesem Fall ist müssen alle Fahrscheine auch verkauft werden, um den Kundenwunsch zu erfüllen.</documentation>
	</annotation>
	<sequence>
		<element name="fehlerInfo"
				type="idl:FehlerInfo"
				minOccurs="0"
				maxOccurs="1">
		</element>
		<element name="fahrscheine"
				type="idl:Fahrschein"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="typ"
		type="idl:AngebotsTyp"
		use="required">
		<annotation>
			<documentation>Der Typ des Angebotes. Hier wird zwischen relationsbasierten und relationslosen Angeboten unterschieden.
Relationsbasierte Angebote erlauben die einmalige Fahrt auf einer definierten Relation oder in einem definierten Raum. Sie werden auch Streckenfahrscheine genannt.
Relationslose Angebote erlauben innerhalb der Geltungsdauer beliebige Fahrten im angegebenen Raum. Dazu gehört z.B. das "Schöne Wochenend-Ticket".</documentation>
		</annotation>
	</attribute>
	<attribute name="status"
		type="idl:AngebotsStatus"
		use="required">
		<annotation>
			<documentation>Der Status eines Angebotes gibt Auskunft darüber, ob dieses Angebot gültig ist und verkauft werden kann, oder ob es ungültig ist.
Die Details sind bei der Aufzählung AngebotsStatus beschrieben.</documentation>
		</annotation>
	</attribute>
	<attribute name="angebotsKlasse"
		type="idl:WagenKlasse"
		use="required">
		<annotation>
			<documentation>Die Wagenklasse des Angebots.</documentation>
		</annotation>
	</attribute>
	<attribute name="preis"
		type="idl:Preis"
		use="required">
		<annotation>
			<documentation>Der Brutto-Gesamtpreis dieses Angebotes. Enthält das Angebot mehrere Fahrscheine, so ist das die Summe aller Brutto-Preise.</documentation>
		</annotation>
	</attribute>
	<attribute name="bezAngebot"
		type="string"
		use="required">
		<annotation>
			<documentation>Die Bezeichnung des Angebotes als Text in deutscher Sprache.</documentation>
		</annotation>
	</attribute>
	<attribute name="fahrscheinTyp"
		type="idl:FahrscheinTyp"
		use="required">
		<annotation>
			<documentation>Über den Fahrscheintyp werden Angebote für Einzelreisende von Angeboten für Gruppen unterschieden.

??? Ist das hier sinnvoll oder sollte das nicht besser nur im Fahrschein auftauchen?</documentation>
		</annotation>
	</attribute>
	<attribute name="richtungsInfo"
		type="idl:RichtungsInfo"
		use="optional">
		<annotation>
			<documentation>Die RichtungsInfo gibt an, ob das Angebot den Kundenwunsch vollständig abdeckt oder ob Hin- und Rückfahrt als Einzelfahrscheine übertragen werden.
Bei Anfragen für einfache Fahrt wird der Kundenwunsch immer vollständig abgedeckt.
Bei Rückfahrten können neben Hin/Rückfahrscheinen auch pro Fahrtrichtung Fahrscheine für einfache Fahrt angeboten werden.
Optional. Default: Der Kundenwunsch wird vollständig abgedeckt.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Ausfertigungsdaten">
	<annotation>
		<documentation>Die Ausfertigungsdaten enthalten alle Informationen, die ausschließlich zum Verkaufen des Angebotes benötigt werden.
Sie werden nur übertragen, wenn das Ticket auch verkauft werden darf.</documentation>
	</annotation>
	<sequence>
		<element name="vdsDaten"
				type="idl:VDSFelder"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="druckDaten"
				type="idl:Druckdaten"
				minOccurs="1"
				maxOccurs="1">
		</element>
	</sequence>
	<attribute name="vds"
		type="string"
		use="required">
		<annotation>
			<documentation>Fertig aufbereiteter VDS als String.
Es fehlen nur noch die Angaben aus dem Verkaufsprozess:
* Belegnummer (Musternummer?, ggf. Datum/Uhrzeit des Drucks?)
* Zahlungsart (ggf. Datum/Uhrzeit der Zahlung?) 
Die Informationen, wo im vds-String diese Daten unzerzubringen sind, wird in den VDSFeldern übertragen.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="AllgemeineAngaben">
	<annotation>
		<documentation>Das Element AllgemeineAngaben enthält zentrale Parameter, die die Angebotserstellung steuern.
Auch wenn alle optionalen Anteile fehlen, muss dieses Element angegeben werden.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="wagenKlasse"
		type="idl:WagenKlasse"
		use="optional">
		<annotation>
			<documentation>Gibt an, ob der Fahrschein für die 1. Klasse oder die 2. Klasse erstellt werden soll.
Optional. Wenn nicht angegeben, werden Fahrscheine für die 1. und die 2. Klasse erstellt.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="ProduktKlassen">
	<annotation>
		<documentation>Zu jeder Verbindung können spezielle Verkehrsmittel von der Suche ausgenommen werden.  Sie werden in Produktklassen zusammengefasst.
Optional. Default ist die Suche ohne Einschränkungen.
Die Liste der ausschließbaren ProduktKlassen ist bei den Enumerationen aufgeführt.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="code"
		type="idl:ProduktKlasse"
		use="required">
		<annotation>
			<documentation>Jeder code gibt ein ausgeschlossenes Produkt an. Ausgeschlossene Produkte werden bei der Verbindungssuche nicht verwendet.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="OnlineInterface">
	<annotation>
		<documentation>Das ist die Basis der XML-Konvertierung. Es definiert die Namen aller möglichen Nachrichten-Typen. Jedes hier referenzierte Element ist ein mögliches Root-Element der XML-Nachricht.</documentation>
	</annotation>
	<all>
		<element name="angebotsAntwort"
				type="idl:AngebotsAntwort"
				minOccurs="0"
				maxOccurs="1">
		</element>
		<element name="fehlerInfo"
				type="idl:FehlerInfo"
				minOccurs="0"
				maxOccurs="1">
		</element>
		<element name="angebotsAnfrage"
				type="idl:AngebotsAnfrage"
				minOccurs="0"
				maxOccurs="1">
		</element>
	</all>
</complexType>
<complexType name="Halt">
	<annotation>
		<documentation>Ein Halt beschreibt einen Bahnhof, an dem das Verkehrsmittel hält.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="ebhfNr"
		type="idl:EbhfNr"
		use="required">
		<annotation>
			<documentation>Ebhf-Nummer des Haltes.</documentation>
		</annotation>
	</attribute>
	<attribute name="flAbZeitGueltig"
		type="idl:ZeitGueltigkeit"
		use="optional">
		<annotation>
			<documentation>Gibt die Genauigkeit der Abfahrtszeit an.
Optional. Default: Die Zeit ist gültig</documentation>
		</annotation>
	</attribute>
	<attribute name="flAnZeitGueltig"
		type="idl:ZeitGueltigkeit"
		use="optional">
		<annotation>
			<documentation>Gibt die Genauigkeit der Abkunftszeit an.
Optional. Default: Die Zeit ist gültig</documentation>
		</annotation>
	</attribute>
	<attribute name="flAusstiegGesperrt"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>An bestimmten Halten kann nicht ausgestiegen werden.
Dazu gehören Grenzübergänge ohne Bahnhof wie z.B. "Aachen Süd Grenze".
Optional. Default ist: Es kann ausgestiegen werden.</documentation>
		</annotation>
	</attribute>
	<attribute name="flEinstiegGesperrt"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>An bestimmten Halten kann nicht eingestiegen werden.
Dazu gehören Grenzübergänge ohne Bahnhof wie z.B. "Aachen Süd Grenze".
Optional. Default ist: Es kann eingestiegen werden.</documentation>
		</annotation>
	</attribute>
	<attribute name="flGrenzuebergang"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>Kennzeichnet den Halt als Grenzübergang.
Optional. Default: der Halt ist kein Grenzübergang.</documentation>
		</annotation>
	</attribute>
	<attribute name="flRichtungsangabe"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>true - TrainStop enthält keinen Halt sondern die Richtunsgangabe.
Wird z.B. bei S-Bahnen verwendet (S-Bahn nach Hanau Hbf), auch wenn die S-Bahn nur auf einem Teilstück genutzt wird.</documentation>
		</annotation>
	</attribute>
	<attribute name="gleisAbfahrt"
		type="string"
		use="optional">
		<annotation>
			<documentation>Gleis, an dem das Verkehrsmittel abfährt.
Kann am Ziel-Halt eines Verkehrsmittels fehlen.</documentation>
		</annotation>
	</attribute>
	<attribute name="gleisAnkunft"
		type="string"
		use="optional">
		<annotation>
			<documentation>Gleis, an dem das Verkehrsmittel ankommt.
Kann am Abgangs-Halt eines Verkehrsmittels fehlen.</documentation>
		</annotation>
	</attribute>
	<attribute name="name"
		type="string"
		use="required">
		<annotation>
			<documentation>Name des Haltes.</documentation>
		</annotation>
	</attribute>
	<attribute name="zeitAbfahrt"
		type="dateTime"
		use="optional">
		<annotation>
			<documentation>Abfahrtszeitpunkt des Verkehrsmittels an diesem Halt.
Kann am Ziel-Halt eines Verkehrsmittels fehlen.</documentation>
		</annotation>
	</attribute>
	<attribute name="zeitAnkunft"
		type="dateTime"
		use="optional">
		<annotation>
			<documentation>Ankunftszeitpunkt des Verkehrsmittels an diesem Halt.
Kann am Abgangs-Halt eines Verkehrsmittels fehlen.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Verbindung">
	<annotation>
		<documentation>Eine Verbindung beschreibt den vollständigen Weg vom Abgang bis zum Ziel mit allen Verkehrsmitteln, Halten und Gleisangaben.
Ob es sich um eine Hin- oder Rückfahrt handelt, wird über die Hin-Rück-Kombination vermittelt.</documentation>
	</annotation>
	<sequence>
		<element name="verkehrsmittel"
				type="idl:Verkehrsmittel"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="dauer"
		type="int"
		use="required">
		<annotation>
			<documentation>Reisedauer mit dieser Verbindung in Minuten.</documentation>
		</annotation>
	</attribute>
	<attribute name="verkehrsTage"
		type="string"
		use="optional">
		<annotation>
			<documentation>Ein Text, der die Verkehrstage dieser Verbindung in deutscher Sprache beschreibt.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="VDSFelder">
	<annotation>
		<documentation>VDSFelder enthalten die Positions-Angaben zu vom Dritten auszufüllenden Feldern im VDS-String.
Der Name enthält die Feldbezeichnung laut der aktuellen Dokumentation der Füllregeln. Daran können die zun füllenden Felder unterschieden werden.
Über pos und len wird die genaue Position und die Länge des angegebenen Feldes im VDS angegeben. Format gibt an, wie die Information zu formatieren ist.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="name"
		type="string"
		use="required">
		<annotation>
			<documentation>Der Name des Felds im VDS. Darüber kann das Feld identifiziert werden.</documentation>
		</annotation>
	</attribute>
	<attribute name="pos"
		type="int"
		use="required">
		<annotation>
			<documentation>Die Position des Feldes im VDS.</documentation>
		</annotation>
	</attribute>
	<attribute name="len"
		type="int"
		use="required">
		<annotation>
			<documentation>Die Länge des Feldes im VDS.</documentation>
		</annotation>
	</attribute>
	<attribute name="format"
		type="string"
		use="required">
		<annotation>
			<documentation>Gibt an, wie die Information formatiert werden muss:
'N' - numerisch, rechtsbündig, mit Leerzeichen aufgefüllt
'0N' - numerisch, rechtsbündig, mit '0' aufgefüllt
'S' - string, linksbündig, mit Leerzeichen aufgefüllt</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="DruckRichtungsdaten">
	<annotation>
		<documentation>Druck-Richtungsdaten) enthalten richtungsabhängige Druckdaten.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="bezAbgang"
		type="string"
		use="required">
		<annotation>
			<documentation>Bezeichnung des Abgangsbahnhofs
Gleichstellungsbahnhof (z.B. ‘Frankfurt (Main) City’)</documentation>
		</annotation>
	</attribute>
	<attribute name="bezAbgangAlt"
		type="string"
		use="required">
		<annotation>
			<documentation>alternative Bezeichnung des Abgangsbahnhofs
Gleichstellungsbahnhof (z.B. ‘Frankfurt (Main)’)</documentation>
		</annotation>
	</attribute>
	<attribute name="bezAnbBhfAb"
		type="string"
		use="required">
		<annotation>
			<documentation>NRW-Tarif: Verweis auf die Bezeichnung des Anbindungsbahnhofs am Abgang</documentation>
		</annotation>
	</attribute>
	<attribute name="bezZiel"
		type="string"
		use="required">
		<annotation>
			<documentation>Analog bezAbgang</documentation>
		</annotation>
	</attribute>
	<attribute name="bezZielAlt"
		type="string"
		use="required">
		<annotation>
			<documentation>Analog bezAbgangAlt</documentation>
		</annotation>
	</attribute>
	<attribute name="bezAnbBhfAn"
		type="string"
		use="required">
		<annotation>
			<documentation>NRW-Tarif: Verweis auf die Bezeichnung des Anbindungsbahnhofs am Ziel</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Fahrschein">
	<annotation>
		<documentation>Das Element Fahrschein enthält alle Informationen, die zum Ausstellen eines Fahrscheins (Fahrtberechtigungs-Nachweises) an den Kunden benötigt werden.
Ein Angebot kann aus mehreren Fahrscheinen bestehen.
Jeder Fahrschein ist separat zu verkaufen und zu buchen. Auch wenn die Fahrscheine als Teile eines Angebots erstellt werden, sind sie doch voneinander unabhängig.</documentation>
	</annotation>
	<sequence>
		<element name="reisende"
				type="idl:Reisender"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="ausfertigungsDaten"
				type="idl:Ausfertigungsdaten"
				minOccurs="0"
				maxOccurs="1">
		</element>
		<element name="richtungsDaten"
				type="idl:FahrscheinRichtungsdaten"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="status"
		type="idl:AngebotsStatus"
		use="required">
		<annotation>
			<documentation>Der Status eines Fahrscheins gibt Auskunft darüber, ob dieser Fahrschein gültig ist und verkauft werden kann, oder ob er ungültig ist.
Die Details sind bei der Aufzählung AngebotsStatus beschrieben.</documentation>
		</annotation>
	</attribute>
	<attribute name="angebotsKlasse"
		type="idl:WagenKlasse"
		use="required">
		<annotation>
			<documentation>Wagenklasse des Angebots (S1, S2)</documentation>
		</annotation>
	</attribute>
	<attribute name="preis"
		type="idl:Preis"
		use="required">
		<annotation>
			<documentation>Der Brutto-Preis dieses Fahrscheins.</documentation>
		</annotation>
	</attribute>
	<attribute name="bezAngebot"
		type="string"
		use="required">
		<annotation>
			<documentation>Bezeichnung des dem Fahrschein zugrundeliegenden Tarifs, z.B. "Normalpreis".</documentation>
		</annotation>
	</attribute>
	<attribute name="fahrscheinTyp"
		type="idl:FahrscheinTyp"
		use="required">
		<annotation>
			<documentation>Über den Fahrscheintyp werden Fahrscheine für Einzelreisende von Fahrscheinen für Gruppen unterschieden.</documentation>
		</annotation>
	</attribute>
	<attribute name="reservierungspflichtig"
		type="boolean"
		use="optional">
		<annotation>
			<documentation>Das Angebot ist für den so markierten Fahrschein reservierungspflichtig und darf nur mit Reservierung verkauft werden.
Das Attribut ist optional, Default ist "Fahrschein ist nicht reservierungspflichtig".
Unabhängig von dieser Markierung kann die zugrundeliegende Verbindung auch einen reservierungspflichtigen Zug nutzen. Das wird über das Zug-Attribut "RP" signalisiert.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="FahrscheinRichtungsdaten">
	<annotation>
		<documentation>Das Element FahrscheinRichtungsdaten enthält die richtungsabhängigen Informationen zum Fahrschein.</documentation>
	</annotation>
	<all>
		<element name="geltungsdauer"
				type="idl:Geltungsdauer"
				minOccurs="1"
				maxOccurs="1">
		</element>
	</all>
	<attribute name="bezAbgang"
		type="string"
		use="required">
		<annotation>
			<documentation>Bezeichnung des Abgangsbahnhofs
Gleichstellungsbahnhof (z.B. ‘Frankfurt (Main) City’)</documentation>
		</annotation>
	</attribute>
	<attribute name="bezZiel"
		type="string"
		use="required">
		<annotation>
			<documentation>Analog bezAbgang.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="FehlerInfo">
	<annotation>
		<documentation>Fehlerinformationen signalisieren, dass das gewünschte Ergebnis nicht erbracht werden konnte.
Sie stehen dann alternativ zum erwarteten Ergebnis.</documentation>
	</annotation>
	<all>
	</all>
	<attribute name="fehlerId"
		type="string"
		use="required">
		<annotation>
			<documentation>Fest OSST</documentation>
		</annotation>
	</attribute>
	<attribute name="fehlerNr"
		type="int"
		use="required">
		<annotation>
			<documentation>Die Fehler-Nummer dient als maschinenlesbare Kennzeichnung der Fehlerursache.
Alle Fehler-Nummern sind im Anhang dokumentiert.</documentation>
		</annotation>
	</attribute>
	<attribute name="fehlerText"
		type="string"
		use="optional">
		<annotation>
			<documentation>Der Text beschreibt den Fehler verbal. Er muss bei Fehlermeldungen angegeben werden.</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="Druckdaten">
	<annotation>
		<documentation>Druckdaten enthalten Angaben, die nur zum "Druck" des Fahrscheins dienen. Damit ist jedoch nicht nur der physische Druck gemeint, sondern auch alle Arten des papierlosen Fulfillments, z.B. Handy-Tickets etc.
Sie werden nur übertragen, wenn das Ticket auch verkauft werden darf.</documentation>
	</annotation>
	<sequence>
		<element name="texte"
				type="idl:FahrscheinTexte"
				minOccurs="0"
				maxOccurs="unbounded">
		</element>
		<element name="mwStDaten"
				type="idl:MwStDaten"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="druckRichtungsDaten"
				type="idl:DruckRichtungsdaten"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
	</sequence>
	<attribute name="wegetext"
		type="string"
		use="required">
		<annotation>
			<documentation>enthält den vollständigen, mit Kürzungsinformationen angereicherten Gesamt-Wegetext für das Ticket.</documentation>
		</annotation>
	</attribute>
	<attribute name="musterNr"
		type="int"
		use="required">
		<annotation>
			<documentation>Fahrscheinmuster-Nummer</documentation>
		</annotation>
	</attribute>
	<attribute name="gattungsBez"
		type="string"
		use="required">
		<annotation>
			<documentation>Bezeichnung Angebot</documentation>
		</annotation>
	</attribute>
	<attribute name="fahrscheinTyp"
		type="idl:FahrscheinTyp"
		use="required">
	</attribute>
	<attribute name="altersbereichKinder"
		type="string"
		use="required">
		<annotation>
			<documentation>Altersbegrenzung für internationalen Verkehr</documentation>
		</annotation>
	</attribute>
</complexType>
<complexType name="AngebotsAnfrage">
	<annotation>
		<documentation>Dieses Element enthält alle Angaben zu einer Angebots-Anfrage.</documentation>
	</annotation>
	<sequence>
		<element name="reisende"
				type="idl:Reisender"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="verbindungsParameter"
				type="idl:VerbindungsParameter"
				minOccurs="1"
				maxOccurs="unbounded">
		</element>
		<element name="allgemeineAngaben"
				type="idl:AllgemeineAngaben"
				minOccurs="1"
				maxOccurs="1">
		</element>
	</sequence>
	<attribute name="msgVersion"
		type="string"
		use="required">
		<annotation>
			<documentation>Beschreibt die Version der Anfrage und damit die enthaltenen Elemente und Attribute.</documentation>
		</annotation>
	</attribute>
</complexType>

<!-- enums -->
<simpleType name="AngebotsStatus">
	<restriction base="string">
		<enumeration value="ANGEBOT_GUELTIG"/>
		<enumeration value="OEPNVFAHRAUSWEIS"/>
		<enumeration value="VERBUNDFAHRAUSWEIS"/>
		<enumeration value="TEILPREISANGEBOT"/>
		<enumeration value="GLOBALPREIS"/>
		<enumeration value="KEIN_ZUGBINDUNGSTEXT"/>
		<enumeration value="NESEEANTEIL_UNBEPREISBAR"/>
		<enumeration value="TARIFKOMBI_UNGUELTIG"/>
		<enumeration value="VBVERGANGENHEIT"/>
		<enumeration value="UNTERSCHIED_ABGANG_ZIEL"/>
		<enumeration value="TICKET_TEILEN"/>
		<enumeration value="FEHLER_AUS_FAHRPLANAUSKUNFT"/>
		<enumeration value="FEHLER_AUS_PREISBERECHNUNG"/>
		<enumeration value="ANGEBOT_UNBEPREISBAR"/>
	</restriction>
</simpleType>
<simpleType name="ProduktKlasse">
	<restriction base="string">
		<enumeration value="HGV"/>
		<enumeration value="IC_EC"/>
		<enumeration value="IR_D"/>
		<enumeration value="NV"/>
		<enumeration value="S"/>
		<enumeration value="BUS"/>
		<enumeration value="SCHIFF"/>
		<enumeration value="U"/>
		<enumeration value="STRAB"/>
		<enumeration value="TAXI"/>
	</restriction>
</simpleType>
<simpleType name="WagenKlasse">
	<restriction base="string">
		<enumeration value="KLASSE_1"/>
		<enumeration value="KLASSE_2"/>
	</restriction>
</simpleType>
<simpleType name="Ermaessigung">
	<restriction base="string">
		<enumeration value="BC25"/>
		<enumeration value="BC50"/>
		<enumeration value="BCB25"/>
		<enumeration value="BCB50"/>
		<enumeration value="BC25FIRST"/>
		<enumeration value="BC50FIRST"/>
		<enumeration value="BCB25FIRST"/>
		<enumeration value="BCB50FIRST"/>
	</restriction>
</simpleType>
<simpleType name="AngebotsTyp">
	<restriction base="string">
		<enumeration value="VERBINDUNGSANGEBOT"/>
		<enumeration value="ANGEBOT_RELATIONSLOS"/>
	</restriction>
</simpleType>
<simpleType name="ZeitGueltigkeit">
	<restriction base="string">
		<enumeration value="SICHER"/>
		<enumeration value="UNBEKANNT"/>
		<enumeration value="UNSICHER"/>
	</restriction>
</simpleType>
<simpleType name="ReisendenTyp">
	<restriction base="string">
		<enumeration value="ERWACHSENER"/>
		<enumeration value="KIND"/>
		<enumeration value="FAMILIENKIND"/>
		<enumeration value="HUND"/>
		<enumeration value="BEGLEITER"/>
	</restriction>
</simpleType>
<simpleType name="KzMwSt">
	<restriction base="string">
		<enumeration value="KEINE_ANGABE"/>
		<enumeration value="VOLLER_SATZ"/>
		<enumeration value="ERMAESSIGT"/>
		<enumeration value="MISCHSATZ"/>
		<enumeration value="BEFREIT"/>
	</restriction>
</simpleType>
<simpleType name="RichtungsInfo">
	<restriction base="string">
		<enumeration value="KUNDENWUNSCH"/>
		<enumeration value="NUR_HINFAHRT"/>
		<enumeration value="NUR_RUECKFAHRT"/>
	</restriction>
</simpleType>
<simpleType name="FahrscheinTyp">
	<restriction base="string">
		<enumeration value="UNDEFINIERT"/>
		<enumeration value="NORMALFAHRSCHEIN"/>
		<enumeration value="GRUPPENFAHRSCHEIN"/>
	</restriction>
</simpleType>

<!-- typedefs -->

<simpleType name="EbhfNr">
	<restriction base="string"/>
</simpleType>
<simpleType name="Ident">
	<restriction base="string"/>
</simpleType>
<simpleType name="Preis">
	<restriction base="int"/>
</simpleType>
<simpleType name="Preisart">
	<restriction base="int"/>
</simpleType>

</schema>